:root {
    --body-bg-black: #121212;
    --body-bg-light: #12121267;
    --txt-color-yellow: #ffe600;
    --txt-color-white: #ffffff;
    --main-bg-grey: #212121;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--body-bg-black);
    color: var(--txt-color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-grey);
    width: 50%;
    height: 70vh;
    align-items: center;
    border-radius: 15px;
}

main {

    display: flex;
    width: 80%;
    justify-content: space-between;
    height: 100vh;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
}

.rigth-content {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 30px;
    column-gap: 0.5rem;
    font-weight: bolder;
    border: 2px solid var(--txt-color-white);
    background-color: transparent;
    color: var(--txt-color-white);
    text-align: center;
}

button:hover {
    transform: scale(1.1);
    transition-duration: 400ms;
    background-color: var(--txt-color-yellow);
    color: var(--body-bg-black);
    border: 1px solid var(--body-bg-black);
    cursor: pointer;
}

.title-score {
    display: flex;
    justify-content: space-between;
    color: var(--txt-color-yellow);
    font-weight: bolder;
}

.score {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.des-img {
    width: 90px;
    height: 90px;
}

.tableGame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.d-2 {
    grid-column: 3;
}

.d-3 {
    grid-row: 3;
}

.d-4 {
    grid-column: 2;
}

.d-5 {
    grid-row: 3;    
    grid-column: 3;
}

.dice {
    width: 40px;
    height: 40px;
    background-color: var(--txt-color-white);
    border-radius: 5px;
    color: black;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}

.empty{
    font-size: 16px;
    display: block;
    font-weight: 100px
}
.dropdown {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #666;
    z-index: 9;
    background-color: var(--body-bg-light);
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: center;
   
}
#popupScore{
    top: 25%;
    height: 150%;
}
#popupScore-content{
    padding: 1rem;
    width: 46%;
    height: 15%;
    display: none;
}

.popup-content {
    background-color: #121212;
    padding: 3rem;
    border-radius: 16px;
    border: 2px solid white;
    text-align: -webkit-center;
    font-size: 20px;
    animation: cubic-bezier(.5,.43,.3,.95);
    animation-duration: 1.4s;
    animation-name: grossissemnt;
}

.circle-yellow{
    padding: 5px 10px;
    border-radius: 100%;
    background-color: var(--txt-color-yellow);
    color: var(--body-bg-black);
    text-align: center;
}

@keyframes grossissemnt {
    from{
        border-radius: 100%;
        transform: scale(0);
        de
    }
    to{
        border-radius: 0%;
        transform: scale(1);
    }  
}

@keyframes secouement {
    from{
        border-radius: 100%;
        transform: scale(0);
    }
    to{
        border-radius: 0%;
        transform: scale(1);
    }  
}

@media screen and (max-width :955px){
    .content{
        width: 80%;
    }
    .popup-content{
        padding: 1rem;
        font-size: 16px;
    }

}
@media screen and (max-width :570px){
    main{
        width: 90%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .left-content{
        grid-row: 2;
    }
    .content{
        height: 96vh;
    }
    .dice{
        width: 60px;
        height: 60px;
    }
    .button{
        width: 200%;
    }
    .popup-content{
        width: 70%;
    }
}